{% extends "layout.html" %} {% block content %}
        <!-- Page Header-->
        <header class="masthead"style="background-image: url('{{url_for('static',filename='assets/img/ai.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                  
                    <h1>Add/Edit Posts</h1>
                   
                    <form id="contactForm" action="/edit/{{sl_no}}" method="post">
                        <div class="form-floating">
                          <input
                            class="form-control"
                            id="box_title"
                            name="box_title"
                            type="text"
                            placeholder="Title"
                            value="{{post.title}}"
                            required
                          />
                          <label for="name">Title</label>
                        </div>
                        <div class="form-floating">
                          <input
                            class="form-control"
                            id="tline"
                            name="tline"
                            type="text"
                            placeholder="tagline"
                            value="{{post.tagline}}"
                            required
                          />
                          <label for="email">Tagline</label>
                        </div>
                        <div class="form-floating">
                          <input
                            class="form-control"
                            id="slug"
                            name="slug"
                            type="tel"
                            placeholder="slug"
                            value="{{post.slug}}"
                            required
                          />
                          <label for="phone_num">Slug</label>
                        </div>
                        <div class="form-floating">
                          <textarea
                            class="form-control"
                            id="content"
                            name="content"
                            placeholder="Content"
                            style="height: 12rem"
                            required
                          >{{post.content}}</textarea>
                          <label for="message">Content</label>
                        </div>
                        <div class="form-floating">
                          <input class="form-control"
                              id="date"
                              name="date" 
                              value="{{ date }}"
                              placeholder="date"
                              required
                          />
                          <label for="date">Date</label>
                        </div>
                        <br />
                        <!-- Submit Button-->
                        <button
                          class="btn btn-primary text-uppercase"
                          id="submitButton"
                          type="submit"
                        >
                          Submit
                        </button>
                        <a href="/dashboard">
                            <button class="btn btn-primary">Dashboard</button></a>
                      </form>
              
                    <!-- Divider-->
                </div>
            </div>
        </div>
        {% endblock %}
       